#
# Update Github action workflow
# Updating repository content if needed
#
name: Update config

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  update:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v6

    - working-directory: ${{env.GITHUB_WORKSPACE}}
      shell: pwsh
      run: ./Update.ps1

    - name: Commit updated files
      run: |
        git config --global user.name 'DopinderBot'
        git config --global user.email 'DopinderBot-noreply@sgrottel.de'
        git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
        git checkout "${GITHUB_REF:11}"
        git commit -am "Updated repository configuration files"
        git push
